// i-widget-login 图片:
@mixin i-widget-login {
  content: '';
  display: inline-block;
  width: (26px);
  height: (26px);
  background: url(../../../widget/m-topMenu/img/icon.png) -106px 0px no-repeat;
  background-size: 132px 97px;
}

// i-widget-logo 图片:
@mixin i-widget-logo {
  content: '';
  display: inline-block;
  width: (96px);
  height: (97px);
  background: url(../../../widget/m-topMenu/img/icon.png) 0px 0px no-repeat;
  background-size: 132px 97px;
}

