// i-page-book 图片:
@mixin i-page-book {
  content: '';
  display: inline-block;
  width: (17px);
  height: (20px);
  background: url(../../../page/index/img/icon.png) -30px 0px no-repeat;
  background-size: 94px 49px;
}

// i-page-horn 图片:
@mixin i-page-horn {
  content: '';
  display: inline-block;
  width: (20px);
  height: (19px);
  background: url(../../../page/index/img/icon.png) 0px 0px no-repeat;
  background-size: 94px 49px;
}

// i-page-inputPass 图片:
@mixin i-page-inputPass {
  content: '';
  display: inline-block;
  width: (13px);
  height: (20px);
  background: url(../../../page/index/img/icon.png) -81px 0px no-repeat;
  background-size: 94px 49px;
}

// i-page-inputUser 图片:
@mixin i-page-inputUser {
  content: '';
  display: inline-block;
  width: (14px);
  height: (20px);
  background: url(../../../page/index/img/icon.png) -57px 0px no-repeat;
  background-size: 94px 49px;
}

// i-page-notebook 图片:
@mixin i-page-notebook {
  content: '';
  display: inline-block;
  width: (18px);
  height: (20px);
  background: url(../../../page/index/img/icon.png) 0px -29px no-repeat;
  background-size: 94px 49px;
}

