@charset "UTF-8";
@import '../../../common/css/util/variable';
@import '../../../common/css/util/_mixin';
@import '../../../common/css/util/_mixin';
@import '../../../widget/m-multiLine/m-multiLine';
//@import '_icon';

@include m-multiLine(5);
