// i-widget-comment 图片:
@mixin i-widget-comment {
  content: '';
  display: inline-block;
  width: (16px);
  height: (16px);
  background: url(../../../widget/m-article/img/icon.png) 0px 0px no-repeat;
  background-size: 42px 16px;
}

// i-widget-redStar 图片:
@mixin i-widget-redStar {
  content: '';
  display: inline-block;
  width: (16px);
  height: (16px);
  background: url(../../../widget/m-article/img/icon.png) -26px 0px no-repeat;
  background-size: 42px 16px;
}

